/* Empty. Add your own CSS if you like */

.total{
	align-items: stretch;
}
.small{
	font-size: small;
	color: #444;
	font-weight: bold;
}
i.ion-android-create,.ion-android-upload,.ion-backspace,.ion-arrow-return-left,.ion-checkmark-circled{
	font-size: 25px;
	color : #009688;
}
input.amount{
text-align: center;
width: 80px;
height:50px;
-webkit-box-shadow: 0 8px 6px -6px #009688;
margin-left: 5px;

}
.logo{
	position: relative;
	height: 100%;
	left: -2.53px;
	top:0px;
}
.title{
	color:white;
	font-weight: bold !important; 
}
.imenu{
	font-size: 20px !important;
}
.itemName{
	font-size: x-small;
}