/* Empty. Add your own CSS if you like */
.tagStyle{
	font-size: small;
	color: #444;
	font-weight: bold;
}
.item-thumbnail-left .item-content {
    padding-left:54px;
    padding-right: 70px;
}
.item{
    width: auto;
}

.item-complex .item-content, .item-radio .item-content{
    padding: 10px;
}
.divider{
    border-bottom: solid 1px #727272 !important;
}
.cBox{
    position: absolute;
    right: 50px;
}
i.ion-android-create,.ion-android-upload,.ion-backspace,.ion-arrow-return-left,.ion-checkmark-circled{
	font-size: 30px;
	color : #009688;
}
input.amount{
text-align: center;
width: 80px;
height:50px;
-webkit-box-shadow: 0 8px 6px -6px #009688;
margin-left: 5px;

}
.logo{
	position: relative;
	height: 100%;
	left: -2.53px;
	top:0px;
}
.title{
	color:white;
	font-weight: bold !important; 
}
.imenu{
	font-size: 20px !important;
}
.itemName{
	font-size: x-small;
}

.card, .list-inset {
    border-top: solid 3.5px #00796B;
    overflow: hidden;
    margin: 10px 10px;
    border-radius: 1px;
    background-color: #fff;
    box-shadow: 0 2px 1px #B6B6B6;
}
.bills {
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.has-header {
    top: 55px;
}
.item h2 {
    margin: 6px 0 1px 0;
}
.first{
    color:#212121;
}
.second{
    color: #727272;
}
.time {
   font-size:small !important;
}
.menge{
    position: absolute;
    right: 50px;

}
/*.list{
margin: 10px;
}*/
.item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content{
    min-height: 40px !important;
}
.item-body p {
    margin-top: 1px;
    margin-bottom: 1px;
}
.item-body {
padding: 5px;
}