<ion-view view-title="Place Assembly" cache-view="false">
<div class="bar bar-subheader bar-stable">
  <h2 class="tagStyle text-center padding">Scan with " <i class="icon ion-arrow-swap"></i> " to place an Assembly</h2>
</div>
<ion-content style="display: flex;">
<div class="total"><br><br>
    <div class="card padding" ng-show="assembly">

        <div class="row">
            <div class="col text-center">
                <span class="tagStyle">Assembly Code</span>
                <p>{{currentObj.assemblyNumber}}</p>
            </div>

            <div class="col text-center">
               <span class="tagStyle">Name</span>
               <p>{{currentObj.assemblyName}}</p>
            </div>
            
       </div>

       <div class="row">
            <div class="col text-center">
                <span class="tagStyle">Number of Parts</span>
                <p>{{currentObj.assemblyItems.length}}</p>
            </div>

            <div class="col text-center">
               <span class="tagStyle">Name</span>
               <p class="itemName"> {{readObj.itemName}}</p>
           </div>
       </div>

       <div class="col  center">
            <div class="list">
              <label class="item item-input item-select">
                <div class="input-label tagStyle" >
                  Move to Project :
                </div>
                    <select ng-change ="restarArrays()" ng-model="projectObj" ng-options="p.projectName for p in activos ">
                      
                    </select>
              </label>
            </div>          
      </div>

      <div class="col text-center" ng-show="projectObj">
        <h3>{{projectObj.projectName}}</h3>
         <h3>{{projectObj.projectNumber}}</h3>
      </div>
           
      <br>

       <div ng-show="projectObj" class="col text-center" ng-click ="assemblyToProject(projectObj._id)">
        <i class="ion-checkmark-circled"></i>
       </div>

    </div>

    <button ng-hide="assembly" id="fab" class="button button-positive button-fab button-fab-bottom-right" on-touch="takeAssembly()">
            <i class="icon ion-arrow-swap"></i>
         </button>
</div>
</ion-content>
</ion-view>