<ion-view view-title="Item List" cache-view="false">
   <ion-content>
   <div class="card">
    <!-- header with the mall -->
    <div class="item">
      <div class="row text-center">
        <div class="col"><h2>{{currentOrder.orderProvider}}</div>
        <div class="col"><h2>{{currentOrder.orderNumber}}</h2></div>
        <div class="col"><h2>{{currentOrder.orderDeliveringDate | date:"dd.MM.yyyy"}}</div>
    </div>
    
    <div class="padding" ng-show="hideButton">
     <p class="text-center"><i  class="ion-checkmark-circled"></i></p>
     <p class="text-center">Order already recibed and checked</p>
    </div>
        


    <ul class="list">
        <li class="item item-checkbox" ng-repeat="item in itemsOrderList" >
           {{$index +1 }}-{{item.itemName}} <span>({{item.amountOrdered}})</span>
           <p class="time">{{item.itemCode}}</p>
           <label class="checkbox">
             <input type="checkbox" ng-model="item.isDelivered" ng-change="updateFilter()">
         </label>
     </li>
    </ul>
    
    <div class="padding" ng-hide="hideButton">
    <button class="button button-balanced button-reised button-block" ng-click="callDeliveredItems()"> Save changes</button>
    </div>
  </div> 

    </ion-content>  
</ion-view>
