<ion-view view-title="New Item" cache-view="false">

<div class="bar bar-subheader bar-stable">
  <h2 class="small text-center padding">Press the + Button to add a new Bar Code</h2>
</div>

  <ion-content style="display: flex;">    
    <div class="total"><br><br>

       <!--  <div class=" padding stable-bg text-center">
            <strong>Press the + Button to add a new Bar Code</strong> 
        </div>  -->

        <div class="card list padding" ng-show="ver">
        <div class="row">
            <div class="col col-67  text-center">
                <span class="small">Code</span>
                <p>{{obj.itemCode}}</p>
            </div>
            <div class="col text-center">
                 <span class="small">Type</span>
                 <p>{{obj.itemCodeType}}</p>
            </div>      
        </div>
        
        <div class="padding">
             <label class="item item-input item-floating-label" for="">
             <input type="text" ng-model="obj.itemName" placeholder="Enter a Item Name"></label>
             <label class="item item-input item-floating-label" for="">
             <input type="number" ng-model="obj.itemAmount" placeholder="Item Amount"></label>
             <label class="item item-input item-floating-label" for="">
             <input type="text" ng-model="obj.itemProvider" placeholder="Item Provider"></label>
        </div>        
         <br>
         <button class="button button-block button-raised center" ng-click="newItem(obj)">Save</button>
        	
        </div>

        <button ng-hide="ver" id="fab" class="button button-positive button-fab button-fab-bottom-right" ng-click="newCode()">
			<i class="icon ion-plus-round"></i>
		 </button>
    </div>
  </ion-content>
</ion-view>