<ion-view view-title="Read Item">
<div class="bar bar-subheader bar-stable">
  <h2 class="small text-center padding">Scan with " <i class="icon ion-android-search"></i> " to Search for Information</h2>
</div>

<ion-content style="display: flex;">    
<div class="total"><br><br>
    <!-- <div class=" padding stable-bg text-center">
      <strong></strong> 
    </div>  -->

    <div class="card padding" ng-show = "show">
        <div class="row">
            <div class="col text-center">
                <span class="small">Item Code</span>
                <p>{{readObj.itemCode}}</p>
            </div>
            <div class="col text-center"> 
             <span class="small">Location</span>
             <p>{{readObj.itemLocation}}</p>
            </div>
           
       </div>
       <div class="row">
          <div class="col text-center">
                <span class="small">Last Time</span>
                <p>{{readObj.itemLastDate | date:'dd-MM-yyyy  h:mma'}}</p>
          </div>

         <div class="col text-center">
               <span class="small">Name</span>
               <p class="itemName"> {{readObj.itemName}}</p>
         </div>      
       </div>

   <div class="row">
    <div class="col text-center">
        <span class="small ">Amount</span>
        <p ng-hide="edit" class="padding"style="font-size:350%;">{{readObj.itemAmount}}</p>

        <form class="row" ng-show ="edit" name="juan">                          

            <div class="col"><i class="icon ion-arrow-return-left" ng-click="back()"></i></div>
            <div class="col">
                <input  name="vea"required class="amount" style="font-size:150%;" type="number" ng-model="readObj.itemAmount" placeholder="Here">
            </div>
            <div class="col text-right" ng-show="juan.vea.$error.required"></div>

            <div class="col text-right" ng-hide="juan.vea.$error.required"><i ng-click="updateAmount(readObj)" class="icon ion-android-upload"></i></div>        


        </form>
    </div>   
</div>

<div class="row">
    <div class="col">
            <div class="col text-center"><i ng-hide="edit" class="icon ion-android-create" ng-click="editAmount()"></i>
            </div>
        </div>
    </div>

</div>   


</div>

<button ng-hide="edit" id="fab" class="button button-positive button-fab button-fab-bottom-right" ng-click="searchCode()">
    <span>
        <i class="icon ion-ios-search-strong"></i>
    </span>

</button>
</div>

</ion-content>
</ion-view>