<ion-view view-title="Assembly Items">
   <ion-content>
        <div class="card">
        <!-- header with the mall -->
            <div class="item">
                <div class="row">
                   <h2>{{currentAssembly.projectName}}</h2>
                <button  class="button button-balanced menge" ng-click="chooseItemsToInsertInProject()"> insert</button>
                </div>           
  
            </div>

            <ul class="list">
              <li class="item item-checkbox" ng-repeat="item in itemList">
                 {{item.itemName}} <span>({{item.itemAmount}})</span>
                 <p class="time">{{item.itemCode}}</p>
                 <label class="checkbox">
                 <input type="checkbox" ng-model="item.insert">
                 </label>
              </li>
            </ul>

           
        </div> 
    </ion-content>  
</ion-view>


 <!-- <ion-list class="item item-body">
                <ion-item class="item-icon-right divider" ng-repeat="item in itemList" type="item-text-wrap"  ng-click="passitem(item)">
                  image of the item 
                  <img ng-src="{{item.imgUrl}}"> -->
                  <!-- h2 class="capital"><ion-checkbox ng-model="isChecked"></ion-checkbox></h2>
                  
                  <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>
             </ion-list> --> -->