<ion-view view-title="Assembly Items" cache-view="false">
   <ion-content>
   <div class="card">
    <!-- header with the mall -->
    <div class="item">
      <div class="row">
         <h2>{{currentAssembly.assemblyName}}</h2>

         <div  class="menge" ng-hide="arrayReady" ng-click="chooseItemsToInsertInProject()"> 
            <i class="ion-checkmark-circled"></i>
        </div>
    </div>


       <div class="input-label tagStyle" ng-show="arrayReady"  >
        &nbsp; Move to Project :{{currentProject.projectNumber}}
       </div>
        

<div ng-show="arrayReady" class="col text-center" ng-click ="itemsToProject()"> <!-- itemsToProject(projectObj._id) -->
  <i class="ion-checkmark-circled"></i>
</div>
</div>




<ul class="list">
    <li class="item item-checkbox" ng-repeat="item in itemList">
       {{$index}}-{{item.itemName}} <span>({{item.itemAmount}})</span>
       <p class="time">{{item.itemCode}}</p>
       <label class="checkbox">
         <input type="checkbox" ng-model="item.itemAssembled"> <!-- item.insert -->
     </label>
 </li>
</ul>


</div> 
    </ion-content>  
</ion-view>


 <!-- <ion-list class="item item-body">
                <ion-item class="item-icon-right divider" ng-repeat="item in itemList" type="item-text-wrap"  ng-click="passitem(item)">
                  image of the item 
                  <img ng-src="{{item.imgUrl}}"> -->
                  <!-- h2 class="capital"><ion-checkbox ng-model="isChecked"></ion-checkbox></h2>
                  
                  <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>
             </ion-list> --> -->