<ion-view view-title="Some Items" cache-view="false">
<div class="bar bar-subheader bar-stable">
  <h2 class="tagStyle text-center padding">
    Choose the Project you want to Build
  </h2>
</div>

<ion-content>
<br> <br>
    <ion-item class="item-icon-right card bills" ng-repeat="project in projectList" type="item-text-wrap" href="#/app/someItems/{{project.projectNumber}}" ng-click="passProject(project)">
        <h2 class="first">{{project.projectName}}</h2>
        <p class="second">{{project.projectNumber}}</p>
        <p class="second">{{project.deadLine | date: " MM.dd.yyyy"}}</p>
        <!-- <p class="second time">{{bill.buyDate | date:"MM/dd/yyyy 'at' h:mma"}}</p> -->
        <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
  </ion-content>
</ion-view>