<ion-view view-title="Settings">

	<div class="bar bar-subheader bar-stable">
 		 <h2 class="small text-center padding">
 		 	Set up the user information 
 		 </h2>
	</div>
	
	 <ion-content style="display: flex;">    
    <div class="total"><br><br>

        <div class="card list padding" >
        <div class="row">
            <div class="col col-67  text-center">
                <span class="small">Company</span>
                <p>{{company.companyName}} Rhode Maschinenbau</p>
            </div>
            <div class="col text-center">
                 <span class="small">PLZ</span>
                 <p>{{company.companyZipCode}}</p>
            </div>      
        </div>
        <div class="row">
            <div class="col col-67  text-center">
                <span class="small">User Name</span>
                <p>{{currentUser.userName}}</p>
            </div>
            <div class="col text-center">
                 <span class="small">ID</span>
                 <p>{{currentUser.userId}}</p>
            </div>   
             
        </div>
        
        <div class="padding" ng-show="editInfo">
             
             <div class="list">
              <label class="item item-input item-select">
                <div class="input-label small" >
                  Change User to:
                </div>
                    <select ng-model="currentUser" ng-options="person.userName for person in company.companyUsers ">
                      
                    </select>
              </label>
            </div> 
             <button class="button button-block button-raised center" ng-click="saveUser(currentUser)">Save</button>
        </div>                
        	
        </div>

        <button ng-hide="ver" id="fab" class="button button-positive button-fab button-fab-bottom-right" ng-click="editInfo=!editInfo">
			<i class="icon ion-edit"></i>
		 </button>
    </div>
  </ion-content>

</ion-view>